<ion-header>
  <ion-toolbar color="gmheader">
    <ion-title>{{ 'ATTRIBUTES_TITLE_TEXT' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar placeholder="Filtrele" (ionInput)="onInput($event)"  
                cancelButtonText="{{ 'SEARCHBAR_CANCEL_BUTTON_TEXT' | translate }}">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let att of attributeList" (click)="goToProductListPage(att)">
      <ion-label>{{att.AttributeDescription}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Yükleniyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>