// ion-content{
//     --background: none;
//     background-image: url('../../../assets/imgs/logo4.jpg');
//     background-position: center top;
//     background-repeat: repeat;
// }

.gm-img-style{
    width: 160px;
}

.login-grid-style{
    position: absolute;
    width: 90%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}