     .barcode_pic{
        border: 1px solid #000000;
        border-radius: 2px;
        height: 180px;
        width: 80%;
        text-align: center;
        padding-bottom: 20px;
        display: inline-block;
    }
    .ta-center {
        text-align: center;
    }
    .p-l-10 {
        padding-left: 10px;
    }